footer{
  width: 100%;
  background-color:black;
  color:white;
  height: 100px;
  margin:0;
  opacity: 0.85;
  font-size: 25px;
  text-align: center;
}

footer a{
  color:white;
  font-size: 1em;
  text-decoration: underline;
  margin:0;
  line-height: 100px;
}

footer p{
  margin:0;
}