.profile{
  background-color: white;
  padding-bottom: 1em;
}

.user-info{
  display:flex;
}

.profile-img{
  width:30%;
  margin:1em 4em 1em 4em;
  border:1px solid black;
}

.profile-img img{
  margin:0 auto;
  border-radius: 100%;
  width:80%;
  height:300px;
  object-fit: cover;
}

.profile-img input{
  display:block;
  width:80%;
  margin: 0 auto .5em auto;
  font-size: 1.4em;
  border-radius: 5px;
}

.profile-info{
  display:flex;
  width:60%;
  margin-top: 2em;
}

.title{
  border-top: 3px solid black;
  padding-top: .5em;
  font-size: 3em;
}

.titles{
  width:27%;
  text-align: left;
}

.content{
  text-align:left;
  width:50%;
  margin: .1em 0 0 0
}

.content input{
  display:block;
  width:100%;
  font-size: 1.35em;
  border-radius: 5px;
  margin:.4em 0
}

textarea{
  width:100%;
  height:150px;
  border-radius: 5px;
  font-size: 1.35em;
}

.profile .buttons{
  display:flex;
  position:absolute;
  bottom: -10px;
  left:32%;
}

.profile .buttons button{
  position:static
}

.content button{
  font-size: 1.3em;
  width:auto
}

.profile-schedules{
  text-decoration: none;
}

.profile-schedules a{
  text-decoration: none;
  color:black
}

.profile-schedule{
  display:flex;
  justify-content: center;
  border: 1px solid black;
}

.profile-schedule img, .profile-schedule iframe{
  height:200px;
  width:300px;
  object-fit: cover;
}

.profile-schedule img{
  margin:1em
}

.profile-schedule .info{
  width:auto;
  text-decoration: none;
}

@media (max-width:1000px){
  .profile-schedule{
    display:block
  }

  .profile-schedule img, .profile-schedule iframe{
    width:80%;
    margin: 0 auto;
    height:300px
  }
}

@media (max-width:750px){
  .user-info{
    display:block;
    margin:0 auto;
  }

  .profile-img, .profile-info{
    width:90%;
    margin: 1em auto;
  }

  .space{
    display:block;
    box-sizing: border-box;
    text-align: center;
    margin: .5em auto
  }

  .space .buttons{
    position:static;
    display:block;
    margin: 0.5em auto
  }

  .space iframe, .space .space-img, .space .info{
    box-sizing: border-box;
    display:block;
    width:98%;
    margin:0 auto;
    padding:0;
  }
}

@media (max-width:600px){
  .profile-schedule img, .profile-schedule iframe{
    height:150px
  }
}