.space{
  display:flex;
  justify-content: space-between;
  width:90%;
  border:2px solid black;
  background-color: white;
  margin: .5em auto;
  text-align: left;
  position:relative;
}

.space-img{
  height:200px;
  width:30%;
  margin:.2em .4em;
}

.space img{
  height:100%;
  width:100%;
  object-fit: cover;
}

.info{
  width:50%;
}

.spaces button{
  font-size: 1.2em;
  position:absolute;
  bottom: -10px;
  left:32%;
  width:auto;
  height:30px
}

iframe{
  height:200px;
  width:20%;
  margin: auto .2em
}

.spaces h1{
  margin:0 auto;
  padding:.5em 0;
  color: black;
  text-shadow: 1px 1px white;
  background-image: linear-gradient(-90deg, grey, white, grey);

  width:auto;
  border: 1px solid black;
}

.space h2{
  margin: .3em 0 .3em .8em;
}

.blurb{
  overflow: scroll;
  height:110px;
  width:95%;
  margin: 0 0 0 .5em
}

.yards-search{
  width:70%;
  background-image: linear-gradient(-90deg, grey, white, grey);
  margin:0 auto;
  border:2px solid black;
  font-size: 1.3em;
  padding:.5em
}

.yards-search button{
  width:auto;
  font-size: 1.1em;
  margin:auto
}

.yards-search input{
  width:15%;
  margin: auto 2em auto 1em;
  height:20px;
  border:1px solid black;
}

.yards-search label{
  margin:auto
}

.no-spaces{
  background-image: linear-gradient(-90deg, grey, white, grey);
  width:80%;
  margin: 1em auto
}

@media (max-width:900px){
  .space{
    width: 98%
  }
}

@media (max-width:700px){
  .yards-search input{
    display:block;
    margin:0.3em auto;
    width:60%
  }
}

@media (max-width:650px){
  .space{
    display:block;
    box-sizing: border-box;
  }

  .space button{
    position:static;
    display:block;
    margin: 0.5em auto;
  }

  .space iframe, .space .space-img, .space .info{
    box-sizing: border-box;
    display:block;
    width:98%;
    margin:0 auto;
    padding:0;
  }
}